name: Output File Artifacts
on:
  workflow_dispatch:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci
      - name: Run test
        run: npm run test
  build:
    needs: tests
    runs-on: ubuntu-latest
    outputs:
      script_file: ${{ steps.pulish-output.outputs.script-file-name }}
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci
      - name: Build app
        run: npm run build
      - name: Output build file
        id: pulish-output
        run: find dist/assets/*.js -type f -execdir echo 'script-file-name={}' >> $GITHUB_OUTPUT ';'
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-file
          path: dist
          # path: |
          #   dist
          #   package.json
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: dist-file
      - name: List artifact data
        run: ls -ltr
      - name: Output from build job
        run: echo "Output from Job 1 - ${{ needs.build.outputs.script_file }}"
      - name: Deploying
        run: echo "Deploying..."