name: Env and Secrets
on:
  push:
    branches:
      - master
  workflow_dispatch:
env:
  VITE_TESTING_ENV_VARIABLE: Global env YAML
jobs:
  testing:
    env:
      VITE_TESTING_ENV_LOCAL: Local ENV YAML
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: npm-cache-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Run lint check
        run: npm run lint
      - name: Run test
        run: npm run test
      - name: Loacal ENV
        run: echo "$VITE_TESTING_ENV_LOCAL" 
  building:
    needs: testing
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: npm-cache-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Build App
        run: npm run build
  deploying:
    needs: building
    runs-on: ubuntu-latest
    steps:
      - name: Check ENV
        run: |
          echo "${{env.VITE_TESTING_ENV_LOCAL}}"
          echo "${{env.VITE_TESTING_ENV_VARIABLE}}"
      - name: Deploying the app
        run: echo "Deploying..."
