name: react-action
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm ci
      - name: Run test
        run: npm run test
  lint-check:
    needs: first-job
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm ci
      - name: Run lint check
        run: npm run lint
  deploy:
    needs: lint-check
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm ci
      - name: Build react app
        run: npm run build
      - name: Deploy
        run: echo "Deploying... Demo"
