name: react-action
on: push
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm ci
      - name: Run test
        run: npm run test
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm ci
      - name: Build react app
        run: npm run build
      - name: Deploy
        run: echo "Deploying... Demo"
      
