name: Matrix execution
on:
  push:
    branches:
      - master
    workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        node-version: [12, 22, 24]
        oprating-system: ["ubuntu-latest", windows-latest]
    runs-on: ${{matrix.oprating-system}}
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node-version}}
      - name: Install packages
        run: npm ci
      - name: Build app
        run: npm run build
