name: Matrix execution
on:
  push:
    branches:
      - master
    workflow_dispatch:
jobs:
  build:
    continue-on-error: true
    strategy:
      matrix:
        node-version: [12, 22, 24]
        operating-system: ["ubuntu-latest", windows-latest]
        include:
          - node-version: 23
            operating-system: ubuntu-latest
        exclude:
          - node-version: 12
            operating-system: [ubuntu-latest, windows-latest]
    runs-on: ${{matrix.operating-system}}
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node-version}}
      - name: Install packages
        run: npm ci
      - name: Build app
        run: npm run build
